* {
    margin: 0;
    padding: 0;
}

body {
     background: #55ffe5;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;

}
.container {
width: 70%;
height: 80%;
margin: 50px auto;
}
.contact-box {
    background: #fff;
    display: flex;
    border-radius: 8%;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;

}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5;
    color: #fff;
    border-radius: 10%;
    
}
h1 {
    margin-bottom: 10px;
}
.container p {

    margin-bottom: 40px;

}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc ;
    outline: none;
    padding-bottom: 4px;
}
textarea{
    width: 100%;
    border-bottom: 1px solid #ccc ;
    outline: none;
    padding-bottom: 1px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color:#1c00b5

}
button{
    background-color: #1c00b5;
    width: 100px ;
    border: none;
    outline: none;
    color: #ffff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
    color:#1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    color:#b0adc6;
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}